@import 'mixins_and_variables_and_functions';

.description {
  ul.task-list > li.task-list-item {
    margin-inline-start: 0.5rem !important; /* Override typography.scss */
  }

  li {
    position: relative;
    margin-inline-start: 2.25rem;

    &.task-list-item > .drag-icon {
      inset-inline-start: -0.6rem;
    }

    .drag-icon {
      position: absolute;
      inset-block-start: 0.3rem;
      inset-inline-start: -2.3rem;
      padding-inline-end: 1rem;
      width: 2rem;
    }
  }
}

.is-ghost {
  opacity: 0.3;
  pointer-events: none;
}
